.App_dev_course{
    position: absolute;
    margin-top: 10000px;
}


.Appdev_div{
    background-color: white;
    height: 600px;
    width: 1000px;
    z-index: 2;
    position: absolute;
    margin-left: -470px;
    margin-top: 20px;
    border-radius: 25px;
}
.Appdev_text{
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    
    color: #ff5e78;

}
.Appdev_description{
   margin-top: -40px; 
   font-size: 18px;
   font-weight: lighter;
   padding: 140px;
   padding-left: 210px;
   text-align: left;
   font-family: 'Tajawal', sans-serif;
}
.Appdev_icon{

    position: absolute;
    margin-top: -360px;
    margin-left: -300px;
}
.starting_from_App{
    position: absolute;
    margin-top: -350px;
    margin-left: 260px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;

}
.Appdev_course_detail{
    position: absolute;
    font-size: 15px;
    margin-top: -315px;
    margin-left: 260px;

}

.Appdev_course_details{
    position: absolute;
    z-index: 4;
    margin-top: 650px;
    margin-left: -840px;
    height: 50px;
    width: 250px;
    border-radius: 9px;
    background-color: #ff5e78;
    border-width: 0vw;
    font-size: 16px;

}
.Appdev_course_details:hover{
    background-color: #aaaaaa;
    box-shadow: 0 0 0 3px #aaaaaa;
    
}

/* .Appdev_course_detail{
    position: absolute;
    z-index: 4;
    margin-top: 650px;
    margin-left: -260px;
    height: 50px;
    width: 250px;
    border-radius: 9px;
} */

.Appdev_course_signup{
    position: absolute;
    z-index: 4;
    margin-top: 650px;
    margin-left: -580px;
    height: 50px;
    width: 150px;
    border-radius: 9px;
    font-size: 16px;
    background-color: #fde8cd;
    border-width: 0vw;
    
}
.Appdev_course_signup:hover{
    background-color: #faf3e0;
    box-shadow: 0 0 0 3px #faf3e0;
}

.Appdev_img{
    position: absolute;
    margin-left: 400px;
    margin-top: 160px;
    z-index: 5;
    border-radius: 25px;
    width: 600px;
    height: 400px;
}
.Appdev_button{
    position: absolute;
    margin-top: -120px;
    margin-left: 600px;
}
.App_dev_course{
    position: absolute;
    margin-top: 700px;
    
}