// .footer{
//     background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
//     height: 350px;
//     width: 100%;
//     position: relative;
//     margin-top: 50px;
// }
// .coderm{
//     position: absolute;
//     color: white;
//     font-size: 70px;
//     margin-top: -1px;
//     margin-left: 15px;
//     font-family: 'Playfair Display', serif;
// }
// .home1{
// position: absolute;
// color: white;
//  margin-top: 100px;
//  z-index: 5;
//  margin-left: 400px;
//  font-size: 22px;
//     font-family: 'Antic Slab', serif;
// }
// .how{
//     position: absolute;
//     color: white;
//     margin-top: 140px;
//     margin-left: 400px;
//     font-size: 16px;
//     white-space: nowrap;
// }
// .why{
//     position: absolute;
//     color: white;
//     margin-top: 160px;
//     margin-left: 400px;
//     font-size: 16px;
//     white-space: nowrap;
// }
// .review{
//     position: absolute;
//     color: white;
//     margin-top: 180px;
//     margin-left: 400px;
//     font-size: 16px;
//     white-space: nowrap;
// }
// .about{
//     position: absolute;
// color: white;
//  margin-top: 100px;
//  z-index: 5;
//  margin-left: 700px;
//  font-size: 22px;
//     font-family: 'Antic Slab', serif;
// }
// .teac{
//     position: absolute;
//     color: white;
//     margin-top: 140px;
//     margin-left: 700px;
//     font-size: 16px;
//     white-space: nowrap;
// }
// .team{
//     position: absolute;
//     color: white;
//     margin-top: 160px;
//     margin-left: 700px;
//     font-size: 16px;  
//     white-space: nowrap;
// }
// .contact1{
//     position: absolute;
//     color: white;
//     margin-top: 220px;
//     margin-left: 700px;
//     font-size: 16px;  
// }
// .location{
//     position: absolute;
//     color: white;
//      margin-top: 100px;
//      z-index: 5;
//      margin-left: 1300px;
//      font-size: 22px;
//         font-family: 'Antic Slab', serif;
// }
// .location1{
//     position: absolute;
//     color: white;
//     margin-top: 150px;
//     margin-left: 1300px;
//     font-size: 16px;  
// }
// .location2{
//     position: absolute;
//     color: white;
//     margin-top: 190px;
//     margin-left: 1300px;
//     font-size: 16px;  
// }
// .mobile{
//     position: absolute;
//     color: white;
//     margin-top: 187px;
//     margin-left: 1330px;
//     font-size: 16px;    
// }
// .right{
//     position: absolute;
//     color: white;
//     margin-top: 300px;
//     margin-left: 30px;
//     font-size: 16px;

// }

// .courses_footer{
//     position: absolute;
//     margin-left: 650px;
//     margin-top: 100px;

// }

// .support_center{
//     position: absolute;
//     margin-left: 1000px;
//     margin-top: 100px;
 
// }


// .About_footer{

//     position: absolute;
//     margin-left: -300px;
// }

// .Home_footer{

//     position: absolute;
//     margin-left: -210px;
// }

// .courses{
//     position: absolute;
//     margin-left: 10px;
//     color: white;
   
     
//      font-size: 22px;
//         font-family: 'Antic Slab', serif;
// }


// .dev_app{
//     position: absolute;
//     color: white;
//     margin-top:40px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;
// }

// .prog_scratch{
//     position: absolute;
//     color: white;
//     margin-top: 120px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;
// }


// .counsell_career{
//     position: absolute;
//     color: white;
//     margin-top: 140px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;

// }

// .review1{
//     position: absolute;
//     color: white;
//     margin-top: 200px;
//     margin-left: 400px;
//     font-size: 16px;
//     white-space: nowrap;
// }

// .job1{
//     position: absolute;
//     color: white;
//     margin-top: 200px;
//     margin-left: 700px;
//     font-size: 16px; 
// }

// .Acad_advisor{
//     position: absolute;
//     color: white;
//     margin-top: 180px;
//     margin-left: 700px;
//     font-size: 16px; 
//     white-space: nowrap;
// }
// .web_app{
//     position: absolute;
//     color: white;
//     margin-top:60px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;
// }

// .Adev_app{
//     position: absolute;
//     color: white;
//     margin-top:80px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;
// }
// .Aweb_app{
//     position: absolute;
//     color: white;
//     margin-top:100px;
//     margin-left: 10px;
//     font-size: 16px;
//     white-space: nowrap;
// }

// .sc{
//     position: absolute;
//     margin-left: 10px;
//     color: white;
//    white-space: nowrap;
     
//      font-size: 22px;
//         font-family: 'Antic Slab', serif;
// }

// .DI{
//     position: absolute;
//     color: white;
//     margin-top:40px;
//     margin-left: 20px;
//     font-size: 16px;
//     white-space: nowrap;
// }

// .DA{
//     position: absolute;
//     color: white;
//     margin-top:60px;
//     margin-left: 20px;
//     font-size: 16px;
//     white-space: nowrap;  
// }
// .TV{
//     position: absolute;
//     color: white;
//     margin-top:80px;
//     margin-left: 20px;
//     font-size: 16px;
//     white-space: nowrap;  
// }



/* responsive footer */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
