.howimage{
    width: 100%;
    -webkit-filter: blur(12px);
}

.howu{
    position: absolute;
    margin-top: -600px;
    margin-left: 900px;
    
    
}

.howuimage{
    height: 560px;
    width: 700px;
}

.howwork{
position: absolute;
margin-top: -600px;
margin-left: 40px;
font-size: 150px;
font-family: 'Playfair Display', serif;
color: white;

}

.howtext{
    position: absolute;
margin-top: -390px;
margin-left: -90px;
font-size: 40px;
font-family: 'Playfair Display', serif;
color: white;

}

.app_dev2{
    position: absolute;
    margin-top: -10px;
    margin-left: -90px;

}

.good_screen{
    position: relative;
    margin-top: 350px;

}

.good_screen_image{
    float: left;
    width: 50%;
    margin-top: 14px;

}
.good_screen_content{
display: block;
width: 50%;
float: right;

}


.good_screen_content_title{

    
}
.good_screen_content_para{
    display: block;
}

.good_screen_content_detail{
    display: block;
}
.good_screen_para_div{
    display: contents;
}